body {
  background-color: #f1f3f6;
}
.App {
  text-align: center;
}
.header {
  background-color: #2776ef;
  color: white;
  display: flex;
}
.logoimg {
  margin-top: 3px;
  margin-left: 185px;
  margin-bottom: 5px;
  width: 5.5%;
  height: 5.5%;
}
.searchinput {
  width: 570px;
  margin: 8px;
  height: 36px;
  border-radius: 2px;
  border: none;
  padding: 20px;
}
.searchinput::placeholder {
  padding: 5px 0px 5px 0px;
  font-size: 15px;
}
.loginsignup {
margin-left: 140px;
margin-top: 18px;
}
h6 {
  margin-top: 18px;
  margin-left: 35px;
}
.footer {
  background-color: #172337;
  color: white;

}
.footerMain {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}
a {
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.footerdetails {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.borderleft {
     border-left: 1px solid white;
    border-left-color: #666666;
}
.viewallbtn {
  float: right;
  padding: 10px 15px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 13px;
  background-color: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  font-size: 15px;
  cursor: pointer;
}

.dropbtn2 {
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
  padding: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 220px;
  z-index: 1;
}
.dropdown-content p {
  color: black;
  padding: 12px 6px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content p:hover {
  background-color: rgb(228, 228, 228);
}
.Maindrop {
  background-color: white;
  box-shadow: 0px 2px 3px #dbdee6
}